html, body {  
     background-position:center center;  
	background-size:     cover;                      
    background-repeat:   no-repeat;
    background-attachment:fixed; 
    margin-top:0%;
	background-color:;
	
}

@media only screen and (max-width:767px) {
  body {
	background-color:;
  }

  .navbar{background-color:;position:relative;z-index:1;

}
 
  .nav.navbar-nav {color:#ffffff;}
  .nav.navbar-nav li {color:#ffffff;}
  .nav.navbar-nav li a{color:#000000;}
  .navbar-brand a{color:white;text-align:center}
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
  {
    background-color: #ffe5e5;
  }
}
  
  .btn
{width:100%;
  border-radius:25px;
  font-size:3vw;
  background:#f8f8f8;
  color:#000000;
  max-width: 100%;
  white-space:normal;
 }
 .btn
{width:100%;
  border-radius:25px;
  font-size:3rem;
  /*background:maroon;*/
  color:#000000;
  max-width: 100%;
  white-space:normal;
 }


.btn:hover { border:8px outset white ;
    color: black;
}

*:focus { outline: 0 !important; }

.inputWrapper {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.fileInput {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    /*This makes the button huge so that it can be clicked on*/
    font-size:50px;
	opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}